<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xinruan.mvvmdemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".DemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MVVMDemo">
        <activity android:name=".ui.actitivty.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.actitivty.error.ErrorActivity" />

        <activity
            android:name=".process.MyProcessActivity"
            android:launchMode="singleTask"
            android:process="com.xinruan.mvvmdemo.hekai"
            android:taskAffinity="com.xinruan.hekai" />
        <activity android:name=".ui.actitivty.download.DownLoadActivity" />
        <activity android:name=".ui.actitivty.list.ListActivity" />

    </application>

</manifest>